:root {
  --primary-color: #00B4D8;       /* Turquoise */
  --secondary-color: #90E0EF;     /* Seafoam */
  --background-color: #FAF9F6;    /* Coral White */
  --text-color: #073B4C;          /* Dark Blue */
}

body {
    margin: 0;
    background-image: url('../img/gambar.jpg');
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color : var(--text-color);
}

.container {
    background: rgba(46, 210, 247, 0.7); 
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 75vw;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--background-color);
}

img {
    margin: 20px 0;
}
