:root {
    --primary-color: #3674b5;
    --secondary-color: #578fca;
    --background: rgba(161, 227, 249, 0.8);
    --text-color: #d1f8ef;
    --light-color: #ffbc4c;
}

body {
    margin: 0;
    background-image: url('../img/gambar.jpg');
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat; 
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color : var(--primary-color);
}

.container {
    background: var(--background); 
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 75vw;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--background);
    color: var(--primary-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

img {
    margin: 20px 0;
}
